@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}

.ls {
    list-style-type: square;
}

#about {
    background-image: url("~/public/6906b0ee6febdfa4de9f4809aade01e5.gif");
}
